TELEGRAM_BOT_TOKEN=8667050595:AAG12o-J6rNbViuB41Cnchn-QhiBU2SqC54
SUPABASE_URL=https://dwixrcuelyqzmmhqhequ.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_cbieeZIu6nXTCCWfJ62MRw__TNf5aK4
WEBHOOK_SECRET_TOKEN=replace_with_random_secret
TELEGRAM_WEBHOOK_URL=https://your-vercel-app.vercel.app/api/telegram-webhook
ADMIN_PASSWORD=replace_with_admin_password
